body{
  font-family: monospace;
}
body{
  width: 100%;
  margin: auto;
  background-color: #000;
  color: #00ff00;
}
body input{
  background-color: #000;
  color: #00ff00;
  border: none;
  padding: 10px;
  width: 100%;
}
body output{
  padding: 10px;
}
